<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<header class="container my-4">
    <svg width="95" height="20" viewBox="0 0 95 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_212_46)">
            <path d="M5.32013 15.7933H0V19.7019H5.32013V15.7933Z" fill="black"/>
            <path d="M5.32013 0H1.44201H0V4.97039H1.44201H5.32013H16.9466V0H5.32013Z" fill="black"/>
            <path d="M5.32013 7.91101H1.44201H0V12.8528H1.44201H5.32013H12.6363V7.91101H5.32013Z" fill="black"/>
            <path d="M26.2823 20C24.6792 20 23.2568 19.7468 22.0113 19.2363C20.7657 18.7258 19.7952 17.9048 19.0958 16.7654C18.3964 15.63 18.0507 14.1393 18.0507 12.2973C18.0507 10.6882 18.4004 9.31183 19.0958 8.16419C19.7952 7.01655 20.75 6.13438 21.9681 5.51767C23.1861 4.90097 24.5849 4.59058 26.1684 4.59058C27.7518 4.59058 29.2331 4.8683 30.4394 5.42782C31.6457 5.98735 32.5808 6.80826 33.2409 7.89872C33.901 8.9851 34.2311 10.3247 34.2311 11.9134C34.2311 12.1666 34.2271 12.3994 34.2154 12.6036C34.2075 12.8079 34.1839 13.0488 34.1446 13.3225H21.528V10.5289H30.298L29.1388 12.2647V11.2355C29.1388 10.3329 28.9188 9.70799 28.4748 9.35268C28.0308 9.00144 27.2253 8.82174 26.0544 8.82174C24.8835 8.82174 24.0309 9.01778 23.6065 9.40985C23.1822 9.80193 22.97 10.5085 22.97 11.5254V12.9385C22.97 13.9759 23.1861 14.6825 23.6223 15.0541C24.0545 15.4258 24.8757 15.6137 26.0819 15.6137C27.1585 15.6137 27.8776 15.5115 28.2469 15.3033C28.6163 15.0991 28.797 14.7805 28.797 14.3476V14.0249H34.1171V14.3762C34.1171 15.4748 33.7949 16.4427 33.1545 17.2881C32.514 18.1295 31.6064 18.7911 30.4394 19.273C29.2685 19.755 27.8854 19.9918 26.2823 19.9918V20Z"
                  fill="black"/>
            <path d="M43.5943 20C41.9912 20 40.5689 19.7468 39.3233 19.2363C38.0777 18.7258 37.1072 17.9048 36.4078 16.7654C35.7084 15.63 35.3627 14.1393 35.3627 12.2973C35.3627 10.6882 35.7124 9.31183 36.4078 8.16419C37.1072 7.01655 38.062 6.13438 39.2801 5.51767C40.4981 4.90097 41.8969 4.59058 43.4804 4.59058C45.0638 4.59058 46.5452 4.8683 47.7514 5.42782C48.9577 5.98735 49.8928 6.80826 50.5529 7.89872C51.213 8.9851 51.5431 10.3247 51.5431 11.9134C51.5431 12.1666 51.5392 12.3994 51.5274 12.6036C51.5195 12.8079 51.4959 13.0488 51.4566 13.3225H38.84V10.5289H47.61L46.4509 12.2647V11.2355C46.4509 10.3329 46.2308 9.70799 45.7868 9.35268C45.3428 9.00144 44.5373 8.82174 43.3664 8.82174C42.1955 8.82174 41.3429 9.01778 40.9185 9.40985C40.4942 9.80193 40.282 10.5085 40.282 11.5254V12.9385C40.282 13.9759 40.4981 14.6825 40.9343 15.0541C41.3665 15.4258 42.1877 15.6137 43.3939 15.6137C44.4705 15.6137 45.1896 15.5115 45.5589 15.3033C45.9283 15.0991 46.109 14.7805 46.109 14.3476V14.0249H51.4291V14.3762C51.4291 15.4748 51.1069 16.4427 50.4665 17.2881C49.826 18.1295 48.9184 18.7911 47.7514 19.273C46.5805 19.755 45.1974 19.9918 43.5943 19.9918V20Z"
                  fill="black"/>
            <path d="M60.9104 20C59.3073 20 57.8849 19.7468 56.6393 19.2363C55.3938 18.7258 54.4233 17.9048 53.7239 16.7654C53.0245 15.63 52.6787 14.1393 52.6787 12.2973C52.6787 10.6882 53.0284 9.31183 53.7239 8.16419C54.4233 7.01655 55.3781 6.13438 56.5961 5.51767C57.8142 4.90097 59.213 4.59058 60.7964 4.59058C62.3799 4.59058 63.8612 4.8683 65.0675 5.42782C66.2737 5.98735 67.2089 6.80826 67.869 7.89872C68.5291 8.9851 68.8591 10.3247 68.8591 11.9134C68.8591 12.1666 68.8552 12.3994 68.8434 12.6036C68.8355 12.8079 68.812 13.0488 68.7727 13.3225H56.156V10.5289H64.926L63.7669 12.2647V11.2355C63.7669 10.3329 63.5469 9.70799 63.1029 9.35268C62.6589 9.00144 61.8534 8.82174 60.6825 8.82174C59.5116 8.82174 58.6589 9.01778 58.2346 9.40985C57.8102 9.80193 57.5981 10.5085 57.5981 11.5254V12.9385C57.5981 13.9759 57.8142 14.6825 58.2503 15.0541C58.6825 15.4258 59.5037 15.6137 60.71 15.6137C61.7866 15.6137 62.5056 15.5115 62.875 15.3033C63.2443 15.0991 63.425 14.7805 63.425 14.3476V14.0249H68.7452V14.3762C68.7452 15.4748 68.423 16.4427 67.7825 17.2881C67.1421 18.1295 66.2344 18.7911 65.0675 19.273C63.8966 19.755 62.5135 19.9918 60.9104 19.9918V20Z"
                  fill="black"/>
            <path d="M75.5899 19.7019H70.2698V0H75.5899V19.7019ZM87.4443 19.7019H81.1654L78.1675 14.9683H73.1302V10.0265H78.1085L81.2479 4.88054H87.5268L82.4621 12.085L87.4403 19.7019H87.4443Z"
                  fill="black"/>
            <path d="M95 19.7019H88.0964V14.0576H95V19.7019Z" fill="black"/>
        </g>
        <defs>
            <clipPath id="clip0_212_46">
                <rect width="95" height="20" fill="white"/>
            </clipPath>
        </defs>
    </svg>
</header>
<main class="container grid grid-cols-12 gap-4">
    <aside class="col-span-2">
        <nav class="mt-20">
            <ul class="flex flex-col gap-6">
                <li>
                    <a href="{{ path('app_home') }}"
                       class="flex gap-2 {% if app.request.get('_route') == 'app_home' %} text-primary {% endif%}">
                        <svg viewBox="0 0 22 20" fill="currentColor" class="w-5">
                            <path d="M20.7436 9.83614L11.1195 0.21903C11.0502 0.149598 10.9679 0.0945134 10.8773 0.0569295C10.7867 0.0193456 10.6895 0 10.5914 0C10.4933 0 10.3962 0.0193456 10.3056 0.0569295C10.215 0.0945134 10.1327 0.149598 10.0634 0.21903L0.439266 9.83614C0.158883 10.1165 0 10.4974 0 10.8946C0 11.7194 0.670581 12.39 1.49537 12.39H2.50942V19.2523C2.50942 19.6659 2.84354 20 3.25711 20H9.09607V14.7662H11.713V20H17.9258C18.3393 20 18.6735 19.6659 18.6735 19.2523V12.39H19.6875C20.0847 12.39 20.4656 12.2334 20.746 11.9507C21.3277 11.3666 21.3277 10.4203 20.7436 9.83614Z"/>
                        </svg>
                        <span class="font-bold text-base">Accueil</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('app_favorites_home') }}"
                       class="flex gap-2 {% if app.request.get('_route') == 'app_favorites_home' %} text-primary {% endif%}">
                        <svg viewBox="0 0 20 20" fill="currentColor" class="w-5">
                            <path d="M18.0273 5.53908C17.7655 4.9329 17.3881 4.38359 16.916 3.92189C16.4436 3.45881 15.8866 3.09082 15.2754 2.8379C14.6416 2.57461 13.9617 2.43984 13.2754 2.44142C12.3125 2.44142 11.373 2.70509 10.5566 3.20314C10.3613 3.32228 10.1758 3.45314 10 3.59572C9.82422 3.45314 9.63867 3.32228 9.44336 3.20314C8.62695 2.70509 7.6875 2.44142 6.72461 2.44142C6.03125 2.44142 5.35938 2.57423 4.72461 2.8379C4.11133 3.09181 3.55859 3.45705 3.08398 3.92189C2.61132 4.38306 2.23375 4.93251 1.97266 5.53908C1.70117 6.16994 1.5625 6.83986 1.5625 7.52931C1.5625 8.1797 1.69531 8.85744 1.95898 9.54689C2.17969 10.1231 2.49609 10.7207 2.90039 11.3242C3.54102 12.2793 4.42188 13.2754 5.51562 14.2852C7.32812 15.959 9.12305 17.1152 9.19922 17.1621L9.66211 17.459C9.86719 17.5899 10.1309 17.5899 10.3359 17.459L10.7988 17.1621C10.875 17.1133 12.668 15.959 14.4824 14.2852C15.5762 13.2754 16.457 12.2793 17.0977 11.3242C17.502 10.7207 17.8203 10.1231 18.0391 9.54689C18.3027 8.85744 18.4355 8.1797 18.4355 7.52931C18.4375 6.83986 18.2988 6.16994 18.0273 5.53908Z"/>
                        </svg>
                        <span class="font-bold text-base">Favoris</span>
                    </a>
                </li>
                <li>
                    <a href="/account"
                       class="flex gap-2 {% if app.request.get('_route') == 'app_account' %} text-primary {% endif%}">
                        <svg viewBox="0 0 20 20" fill="currentColor" class="w-5">
                            <mask id="mask0_20_252" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0"
                                  width="20" height="20">
                                <path d="M2.08503 17.5962C2.08563 17.6389 2.09463 17.6811 2.11151 17.7203C2.1284 17.7595 2.15285 17.795 2.18345 17.8247C2.21406 17.8545 2.25022 17.8779 2.28989 17.8937C2.32955 17.9095 2.37193 17.9173 2.41461 17.9167H17.5842C17.6269 17.9173 17.6693 17.9096 17.709 17.8938C17.7488 17.8781 17.785 17.8546 17.8156 17.8249C17.8463 17.7951 17.8708 17.7596 17.8877 17.7204C17.9046 17.6811 17.9136 17.639 17.9142 17.5962V17.2137C17.9217 17.0983 17.9371 16.5233 17.5579 15.8871C17.3188 15.4858 16.9717 15.1396 16.5263 14.8571C15.9875 14.5154 15.3021 14.2683 14.4729 14.1196C14.052 14.0603 13.6345 13.9791 13.2221 13.8762C12.1254 13.5962 12.0296 13.3483 12.0288 13.3458C12.0224 13.3213 12.0132 13.2977 12.0013 13.2754C11.9921 13.2296 11.97 13.0554 12.0125 12.5892C12.12 11.4046 12.7554 10.7046 13.2659 10.1421C13.4267 9.965 13.5788 9.79708 13.6959 9.63291C14.2013 8.92458 14.2479 8.11833 14.25 8.06833C14.2519 7.97973 14.2397 7.8914 14.2138 7.80666C14.1638 7.6525 14.0709 7.55666 14.0025 7.48583C13.9864 7.46962 13.9707 7.45294 13.9554 7.43583C13.9504 7.43 13.9371 7.41416 13.9492 7.33458C13.9901 7.0782 14.0183 6.81998 14.0338 6.56083C14.0571 6.14333 14.075 5.51916 13.9671 4.91125C13.9513 4.79513 13.9273 4.68027 13.8954 4.5675C13.7817 4.14916 13.5992 3.79166 13.3454 3.49666C13.3017 3.44875 12.24 2.32999 9.15795 2.10083C8.7317 2.06916 8.31045 2.08625 7.89545 2.1075C7.77272 2.11022 7.65057 2.1253 7.53086 2.15249C7.21253 2.23458 7.12753 2.43625 7.10545 2.54916C7.06836 2.73666 7.13336 2.88166 7.17628 2.97833C7.18253 2.99208 7.19045 3.00916 7.1767 3.05416C7.10545 3.16499 6.99253 3.26499 6.87795 3.35958C6.84461 3.38749 6.07211 4.05416 6.02961 4.92458C5.91503 5.58666 5.92336 6.61791 6.05878 7.33083C6.06711 7.37041 6.07836 7.42875 6.05961 7.46833C5.91378 7.59875 5.74878 7.74666 5.7492 8.08416C5.75086 8.11833 5.79795 8.92416 6.30336 9.63291C6.42003 9.79708 6.57211 9.96458 6.73253 10.1417L6.73336 10.1421C7.24378 10.7046 7.8792 11.4046 7.9867 12.5887C8.02878 13.0554 8.0067 13.2292 7.99795 13.2754C7.98585 13.2977 7.97648 13.3213 7.97003 13.3458C7.96961 13.3483 7.8742 13.5954 6.78253 13.875C6.15253 14.0362 5.53253 14.1187 5.51378 14.1208C4.70795 14.2571 4.0267 14.4983 3.48878 14.8379C3.04503 15.1183 2.69711 15.4658 2.45545 15.87C2.06878 16.5158 2.0792 17.1042 2.08461 17.2117V17.5962H2.08503Z"
                                      fill="white" stroke="white" stroke-width="4" stroke-linejoin="round"/>
                            </mask>
                            <g mask="url(#mask0_20_252)">
                                <path d="M0 0H20V20H0V0Z" fill="currentColor"/>
                            </g>
                        </svg>
                        <span class="font-bold text-base">Mon compte</span>
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
    <section class="col-span-8">
        {% block body %}{% endblock %}
    </section>
</main>
</body>
</html>
