{% extends 'base.html.twig' %}

{% block body %}

    <div class="flex flex-col items-center mt-48 gap-8">
        <div class="flex flex-col items-center">
            <span class="font-bold text-6xl text-primary">Error</span>
            <span class="font-bold">Something went wrong</span>
        </div>
        <p>
            Sorry, but an error has occurred. Please try again later.
        </p>
    </div>
{% endblock %}